<div class="container-fluid">
  <div class="row bg-image">
    <div class="col-lg-12 text-center">
      <h1 class="mb-4 mt-4">CLEAN BLOG</h1>
      <h4>Blog Theme by Start Bootstrap</h4>
    </div>
  </div>
  <!-- blog 1 -->
  <div class="row m-5 blog">
    <a class="text-dark" routerLink="blog1">
      <div class="col blog-hover">
        <h2>Magna nostrud incididunt cupidatat cillum incididunt et nisi in ut minim reprehenderit.</h2>
        <h5>Adipisicing sit minim occaecat nulla proident exercitation do laboris.</h5>
        <small class="date">February 15, 2020</small>
      </div>
    </a>
  </div>
  <!-- blog 2 -->
  <div class="row m-5 blog">
    <a class="text-dark" routerLink="blog2">
      <div class="col">
        <h2>Reque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</h2>
        <h5>Adipisicing sit minim occaecat nulla proident exercitation do laboris.</h5>
        <small class="date">February 17, 2020</small>
      </div>
    </a>
  </div>
  <!-- blog 3 -->
  <div class="row m-5 blog3">
    <a class="text-dark" routerLink="blog3">
    <div class="col">
      <h2>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime, quo.</h2>
      <h5>Adipisicing sit minim occaecat nulla proident exercitation do laboris.</h5>
      <small class="date">February 19, 2020</small>
    </div>
    </a>
  </div>
</div>